body{
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  margin: 0;
}

.chat-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.user-list{
  background: #c8c844;
  border-right: 1px solid #000000;
  padding: 10px;
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list li{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.chat-area {
  background-color: #28a745;
  background-image: url("/IMAGE FILE/—Pngtree—set of creativity doodle element_5312608.png");
  background-repeat: repeat;
  background-size: 400px;
}

/*.chat-area{
  padding: 20px;
  overflow-y: auto;
  background: green;
}*/
.message{
  display: flex;
  margin-bottom: 15px;
}
.bubble{
  background: #d1d148;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.bubble small{
  font-size: 0.75em;
  color: #3c393993; 
}
.chat-input{
  grid-column: span 2;
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #ffffff;
}
.chat-input input{
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.chat-input button{
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background: #055e1acf;
  color: white;
  border-radius:50%;
  cursor: pointer;
}

@media (max-width: 600px){
  .chat-container{
    grid-template-columns: 1fr;
  }
  .user-list{
    display: none;
  }
}

.user-list li img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.emoji-panel {
  display: none;
}
#toggle:checked ~ .emoji-panel {
  display: block;
}

.send-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgb(2, 107, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.send-btn:hover{
  background: rgb(1, 176, 1);
}
.send{
  width: 20px;
  height: 20px;
  object-fit: contain;
  pointer-events: none;
}